
body {
	background-color: #EEF7EE;
}

.resolucion-examen-container {
	background-color: #EEF7EE;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh; 
	padding: 20px;
	font-family: Arial, sans-serif;
}

.exam-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 600px;
	user-select: none;
}

.pregunta-numero {
	font-weight: bold;
}
.question-text {
	height: 40px;
	font-size: 1.2rem;
	margin: 10px 0;
	text-align: left;
}

.score-display {
	font-size: 0.9rem;
	text-align: right;
	margin-top: 5px;
	align-self: flex-end;
}

.answers-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	margin-top: 10px;
}

.answer {
	background-color: white;
	padding: 15px;
	margin: 5px 0;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border: 1px solid transparent;
	transition: background-color 0.3s ease, border 0.3s ease;
}

	.answer.selected {
		background-color: #19575F;
		color: white;
	}

	.answer:hover {
		background-color: #4CCEC4;
		color: white;
	}

.remove-answer-button {
	width: 135px;
	font-size: 12px;
	align-self: flex-end;
	margin-top: 10px; /* Espacio entre las respuestas y el botón */
	padding: 7px 0px; /* Espaciado interno */
	background-color: #FE6A6B; /* Color rojo */
	color: white; /* Texto blanco */
	border: none; /* Sin borde */
	border-radius: 5px; /* Bordes redondeados */
	cursor: pointer; /* Cursor en forma de mano */
}

	.remove-answer-button:hover {
		background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
	}

.pagination {
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	align-self: center;
	width: 80%;
	max-width: 600px;
	margin-top: auto;
}

.navigation-bar {
	position: relative;
	display: flex; /* Usamos flexbox para centrar los elementos */
	flex: 1; /* Ocupa el espacio restante entre los botones */
	justify-content: center; /* Centra la barra de navegación */
	justify-self: center;
	align-self: center;
}

.nav-button {
	background: none; /* Elimina el fondo del botón */
	border: none; /* Elimina el borde del botón */
	padding: 5px;
	color: #FED16A; /* Espaciado alrededor del contenido */
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.nav-button.active {
		/* Estilos para el botón activo */
		color: #FE6A6B; /* Color de fondo para el botón activo */
		border-radius: 5px; /* Bordes redondeados */
	}

	.nav-button.selected {
		color: #19575F;
	}

.question-number {
	font-size: 12px;
	margin-top: 4px;
	color: #333;
}

.move-button{
	border: none;
	background-color: inherit;
}

.finalize-button {
	position: absolute;
	top: 30px;
	align-self: flex-end;
	width: 130px;
	background-color: #19575F;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

	.finalize-button:hover {
		background-color: #FE6A6B;
	}
	.move-button.disabled {
		visibility: hidden; /* Oculta el botón pero mantiene el espacio */
	}

.result-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	text-justify: auto;
}

.result-message {
	font-size: 1.5rem;
	margin: 20px 0;
	color: #6200ee;
}

.question-review {
	margin-bottom: 20px;
	text-align: center;
}

.answer-review {
	padding: 10px;
	margin: 5px 0;
	border-radius: 8px;
	min-width: 300px;
	max-width: 100%;
	background-color: #f0f0f0;
	border: 1px solid transparent;
}

	.answer-review.correcto {
		background-color: #4CCEC4;
		color: white;
	}

	.answer-review.incorrecto {
		background-color: #FE6A6B;
		color: white;
	}



.restart-button {
	background-color: #19575F;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.progress-bar {
	width: 100%;
	background-color: #e0e0e0;
	border-radius: 10px;
	margin-top: 20px;
	height: 20px;
	max-width: 600px;
}

.progress {
	background-color: #FED16A;
	height: 100%;
	border-radius: 10px;
	transition: width 0.3s ease;
}

.review-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.change-answer-button {
	background-color: #19575F;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.question-review {
	margin-bottom: 20px;
}

.review-respuesta{
	font-size: 12px;
	display:flex;
	flex-direction: column;	
	text-align: left;
}

	.review-respuesta span {
		font-size: 14px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: white;
	}

	.review-button{
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}

.review-finalize-button {
	width: 170px;
	background-color: #19575F;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.timer {
	align-self: center;
	margin-top: 10px;
	font-size: 1.2rem;
	color: #19575F;
	user-select: none;
}



.form-card {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
	padding: 30px 30px 30px;
	margin-top: 40px;
	border-radius: 30px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}

.form-main{
	width: 100%;
	padding:10px;
	align-items:center;
	justify-items: center;
}

.form-logo {
	height: 100px;
	font-size: 0rem;
	color: #333;
}
.logo-image{
	height: 100px;
}

.form-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.form-subtitle {
	font-size: 1rem;
	color: #666;
}

.form-group {
	align-self: center;
	width: 100%;
	position: relative;
	display: flex;
	gap: 0px;
	align-items: center;
}



	

	.form-group label {
		align-self: flex-start;
		font-size: 0.9rem;
		color: #333;
	}

	.form-group input {
		width: 100%;
		height: 40px;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid rgb(173, 173, 173);
		border-radius: 30px;
		margin: 10px 0;
		color: black;
		font-size: .8em;
		font-weight: 500;
		box-sizing: border-box;
		padding-left: 30px;
	}
		.form-group input:focus {
			outline: none;
			border-bottom: 2px solid #4CCEC4;
		}
		.form-group input::placeholder {
			color: rgb(80, 80, 80);
			font-size: 1em;
			font-weight: 500;
		}

.submit-button {
	position: relative;
	width: 50%;
	border: 2px solid #19575F;
	background-color: #19575F;
	height: 40px;
	color: white;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 30px;
	margin: 10px;
	cursor: pointer;
	overflow: hidden;
}

	.submit-button:hover {
		
	}
		