.warning{

    display: flex;
    justify-self: center;

    width: 20%;
    height: 20%;
    overflow-wrap: anywhere;
    flex-wrap: wrap;    
    
}

body {
    background-color: #EEF7EE;
}

.mis-examenes{
    margin: 40px;
    margin-top: 20px;
}

h1 {
    text-align: left;
    margin: 10px;
    color: #333;
}

.menu {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.filtros {
    height: 100%;
    flex: 1;
}

    .filtro-inputIcon {
        position: relative;
        left: 25px;
    }

        .filtros input {
            width: 200px;
            height: 40px;
            background-color: white;
            border: none;
            border-bottom: 2px solid rgb(173, 173, 173);
            border-radius: 30px;
            color: black;
            font-size: .8em;
            font-weight: 500;
            box-sizing: border-box;
            padding-left: 35px;
        }

            .filtros input:focus {
                outline: none;
                border-bottom: 2px solid #4CCEC4;
            }

.historial {
    margin-left: 20px;
    border: 0px;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    background-color: #19575F;
    font-weight: 600;
    color: white;
    transition: transform 0.3s;
    
}
    .historial:hover {
        transform: scale(1.1);  
    }

.botonNuevoExamen {
    position: relative;
    bottom: 5px;
    border: 0px;
    border-radius: 3px;
    height: 50px;
    width: 150px;
    background-color: #19575F;
    font-weight: 600;
    color: white;
    transition: transform 0.3s;
}

        .botonNuevoExamen:hover {
            transform: scale(1.1);
        }

.lista-examenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin: 0 auto 0 auto;
    transition: all 0.5s ease;
}

.examen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    height: 247px;
    width: 400px;
    border: 1px solid #74989A;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 6px 8px 10px #444;
    transition: box-shadow 0.5s ease, transform 0.3s ease, opacity 0.3s ease-in-out;
}

    .examen.habilitado {
        box-shadow: 6px 8px 10px #4CCEC4;
    }

.examen-grupo-info{
    padding: 15px;
    display: inline flex;
    justify-content: space-between;
}

    .examen-info{
        width: 90%;
        margin: 10px;
        text-shadow: 
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    }   

    .examen h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
    }

    .examen h6 {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
    }

.examen-grupo-info-botones{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.boton-cambiar-fondo {
    position: relative;
    left: 55px;
    border: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 0px;
    margin-top: -30px;
    overflow: hidden;
    padding: 5px 30px 5px 5px;
    transition: transform 0.3s;
}
    .boton-cambiar-fondo:hover {
        transform: translateX(-20px);
    }

.boton-eliminar {
    position: relative;
    left: 10px;
    border: none;
    background: none;
    margin-left: 30px;
    transition: transform 0.3s;
}

    .boton-eliminar:hover {
        transform: scale(1.3);
    }

.examen-grupo-boton {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

    .examen-grupo-boton button {
        padding: 4px 12px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 450;
        border-radius: 4px;
        transition: transform 0.3s;
    }

        .examen-grupo-boton button:nth-child(1) {
            background-color: #FED16A;
        }

        .examen-grupo-boton button:nth-child(2) {
            background-color: #4CCEC4;
        }

        .examen-grupo-boton button:nth-child(3).iniciar {
            background-color: #1A525B;
            color: white;
            width: 80px;
        }

        .examen-grupo-boton button:nth-child(3).finalizar {
            background-color: #FE6A6B;
            width: 80px;
        }

.examen-grupo-boton button:hover {
    transform: scale(1.1);
}

@media (max-width: 865px) {

    .lista-examenes {
        flex-direction: column;
        justify-items: center;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        box-sizing: border-box;
    }

}


@media (max-width: 1324px) and (min-width: 865px) {
    .lista-examenes {
        flex-direction: column;
        justify-items: center;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;
        box-sizing: border-box;
    }
}

@media (max-width: 1800px) and (min-width: 1324px) {
    .lista-examenes {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}