
.titulo {
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.consigna {
    gap: 20px;
    max-width: 900px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-wrap: nowrap;
}

.pregunta-group {
    display: flex; 
    gap: 10px;
    margin-bottom: 20px;
}

        .pregunta-input {
            height: auto;
            width: 80%;
            min-height: 50px;
            max-width: 800px;
            padding: 10px;
            resize: none;
            overflow: hidden;
            width: 80%;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        .char-limit {
            right: 19px; 
            bottom: -215px;
            color: gray;
            pointer-events: none; 
            padding: 2px; 
            font-size: 9px;
        }

.puntaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 35px;
    bottom: -10px;
    padding: 0px 0px;
    max-width: 10px;
    white-space: nowrap;
    font-size: 12px;
    width: 30px;
}

    .puntaje input {
        border: 1px solid #ccc;
        border-radius: 3px
    }


.bloque-respuesta {
    gap: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border-radius: 0px;
}

.input-respuesta {
    display: inline;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 70%;
}

        .input-correcta {
            background-color: mediumseagreen;
            color: black;
        }

        .boton-correcta {
            color: black;
            border: 0px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .boton-quitar-respuesta {
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .boton-quitar-respuesta:hover {
                background-color: #c82333; 
            }


        .boton-agregar-respuesta { 
            padding: 0px 0px; 
            width: 122px; 
            background-color: #5d5d5d; 
            color: black; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            transition: transform 0.3s; 
        }

            .boton-agregar-respuesta:hover {
                transform: scale(1.05); 
            }

        .boton-eliminar-pregunta {
            padding: 0px 0px;
            border: 0px;
            border-radius: 0px;
            transition: transform 0.3s;
        }

            .boton-eliminar-pregunta:hover {
                transform: scale(1.05);
            }

.boton-fondo {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.boton-agregar-pregunta {
    font-weight: 600;
    border-radius: 5px;
    transition: transform 0.3s;
}

    .boton-agregar-pregunta:hover {
        transform: scale(1.05);
    }

.boton-guardar {
    font-weight: 600;
    border-radius: 5px;
    transition: transform 0.3s;
}

    .boton-guardar:hover {
        transform: scale(1.05);
    }

.is-invalid {
    border: 1px solid red; /* Bordes rojos para campos no completados */
}
